<footer>
  <p mt-6 text-sm text-slate>
    <span pr-1>Made by</span>
    <a border-b border-slate border-none hover:border-dashed href="https://www.orangejun.cn/" target="_blank">
      Dengmi
    </a>
    <span px-1>|</span>
    <span pr-1>Source</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://github.com/shining-orange/chat"
      target="_blank"
    >
      Github
    </a>
    <span px-1>|</span>
    <span pr-1>Update</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="http://wpa.qq.com/msgrd?v=3&uin=277160461&site=qq&menu=yes"
      target="_blank"
    >
      QQ
    </a>
    <span style="color:black" pr-1>(欢迎！)</span>
  </p>
</footer>
